extends layout

block content
    h1 Multas:
    if multas
        for multa in multas 
            span Boleta: #{multa.id}
            br
            br
            span Fecha: #{multa.date}
            br
            span Infracción: #{multa.infraction}
            br
            span Descripción: #{multa.description}
            br
            span Monto: $ #{multa.amount}
            br
            br
            br
    else
        span No tienes multas